h1
{
	color:TEAL;
}




body
{
background-color:TEAL
}

table{margin: 0 auto;}


#fond
{
	width:900px;
	height:700px;
	margin:0 auto;
	background-color:white;
	text-align:center;
	align-content:center;
	
}



}